.container {
    margin-top: 50px;
  }
  
  .card {
    border-radius: 8px;
  }
  
  .card-header {
    background-color: #d33737de;
    color: white;
  }
  
  .btn-primary {
    background-color: #ef291f;
    border-color: #873232;
  }
  