<nav class="navbar bg-body-tertiary" style="background-color: #e60000">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="tunisair_logo_1.png"
        alt="Logo"
        width="120"
        height="30"
        class="d-inline-block align-text-top"
      />
    </a>
  </div>
</nav>

<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="tunisair_logo_1.png"
                    style="width: 185px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">Always in your service</h4>
                </div>

                <!-- Bind form using [formGroup] and connect controls using formControlName -->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="form2Example11"
                      class="form-control"
                      placeholder="Phone number or email address"
                      formControlName="email"
                    />
                    <label class="form-label" for="form2Example11"
                      >Username</label
                    >
                    <div
                      *ngIf="
                        loginForm.get('email')?.invalid &&
                        loginForm.get('email')?.touched
                      "
                    >
                      <small class="text-danger"
                        >Email is required and must be valid</small
                      >
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="form2Example22"
                      class="form-control"
                      formControlName="password"
                    />
                    <label class="form-label" for="form2Example22"
                      >Password</label
                    >
                    <div
                      *ngIf="
                        loginForm.get('password')?.invalid &&
                        loginForm.get('password')?.touched
                      "
                    >
                      <small class="text-danger">Password is required</small>
                    </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      [disabled]="loginForm.invalid"
                    >
                      Log in
                    </button>
                    <br />
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      routerLink="/auth/register"
                    >
                      Create new
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">
                  For you to have the best experience in the world, we offer you the best services
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
